################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Index/.vs/Index/FileContentIndex/1a82ee7d-31a2-4015-86e0-e114867cfd61.vsidx
/Index/.vs/Index/FileContentIndex/5cc68b90-6a9c-49ef-8f27-3f9ff1cde48d.vsidx
/Index/.vs/Index/FileContentIndex/b2fd0baa-ab95-4fe4-ad6e-6016a14fd2f4.vsidx
