################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Index/.vs/Index/FileContentIndex/7383e890-b47a-4fc8-94f8-47aa3eac964a.vsidx
/Index/.vs/Index/FileContentIndex/e1acea0a-2df4-4359-a6b4-506a7d0263dd.vsidx
